section.about
  .flex.flex--center
    .col-full
      h2.home-title Soft Landing
      p Immiget is a tool for finding your new job & home, while ensuring they are close to each other! <br/> Choose what to focus on and put your occupation and desired location in the search box below.     
      
