section.bundles
  .flex.flex--center
    .col-1.flex
      .bundle-text
        h2.home-title Bundle Up!
        p Lorem est laborum.sddsddsdsdssd sdsds sds
      
    .col-1.order-first
      .bundle-img.job
