section.map
  .flex.flex--center
    .col-1
      h2.home-title Visualize
      p To make it even more intuative, each bundle can be displayed on a map - centering around the focused item, while showing all corresponding matches surrounding it
    .col-1.flex
      .map-img
      
