section.about
  .flex.flex--center
    .col-full
      h2.home-title Soft Landing
      p There are a lot of preparations that need to be taken into account when considering relocation; most importantly, securing your employment and finding decent residancy. <br/><br/> We offer you a tool to not only search and find both, but to make sure that your new job & home are close to each other as much as possible!
      
      
