section.bundles
  .flex.flex--center
    .col-1.flex
      .bundle-text
        h2.home-title Bundle Up!
        p Bundles are neatly packaged focus based offers:
        ul
          li <i class="ion-minus"></i> For each job offer get a list of near by housing offers.
          li <i class="ion-minus"></i> For each housing offer get a list of near by job offers.
        //p Bundles are neatly packeged offers you get when searching Immiget.<br/><br/> depending on your focus, each bundle contains one type of item (i.e. a job offer), and all possible adjacent matches for the other type of item (i.e. housing offers) 
      
    .col-1.order-first
      .bundle-img.job
