header.hero
  .flex.flex--center
    .col-full
      .immiget-logo
      .title
        h1  start your <br/> new start
        a(href='#home-search-a').home-cta start searching <i class="ion-chevron-right"></i>
      
      .para-girl  
