section.about
  .flex.flex--center
    .col-full
      h2.home-title Soft Landing
      p Secure your employment and find suitable residancy! <br/> Immiget is a tool for finding youe new job & home, whil ensuring they are close to each other!
      
      
