section.search
  .flex.flex--center
    .search-wrap
      .col-full
        h2#home-search-a.home-title Search For: 
      form.search-form.flex
        .focus-select.flex
          input(type="button" value="Jobs").home-focus-btn 
          span.home-title or
          input(type="button" value="Residency").home-focus-btn
        input(type="text" name:"occupation" placeholder="Occupation").home-search-inpt
        input(type="text" name="Location" placeholder="Location(Country/City/Adress)").home-search-inpt
        button(type="button" ).home-search-btn Find Bundles <i class="ion-chevron-right"></i>
           
