header.hero
  .flex.flex--center
    .col-full
      .immiget-logo
      .title
        h1  Relocation <br/> Done right
        a(href='#home-search-a').home-cta ease your moving <i class="ion-chevron-right"></i>
      
      .para-girl  
