section.bundles
  background:
    image: url('../img/bundle-bg.jpg')
    size: cover
  margin-top: -1px
  padding-bottom: 20px
  .col-1.flex
    align-items: center
    margin-bottom: 0


  ul
    list-style: inside
    padding-left: 18px
    li
      font-size: 1em
      font-style: italic
      letter-spacing: -0.5px
      list-style: none
      text-indent: -5px
      text-align: left


      .ion-minus
        display: inline-block
        margin: 0
        text-indent: -5px
        font-size: 0.6em

      &:not(last-of-type)
        margin-bottom: 10px

      @media (max-width: 640px)
        font-size: 1em
        &:not(last-of-type)
          margin-bottom: 5px

  .bundle-img
    width: 310px
    height: 340px
    transform: translateY(500px)
    background:
      size: contain
      repeat: no-repeat
      position: right center
    transition: transform 0.5s cubic-bezier(.17,.67,.48,1.37), background 0.3s ease

    @media (max-width: 640px)
      width: 198px
      height:220px
      margin: auto

  .job
    background:
      image: url('../img/Bundle-job-graphic.svg')

  .res
    background:
      image: url('../img/Bundle-res-graphic.svg')
